<div>
  <h1>Task statistic</h1>
  <label for="datePicker">From</label>
  <input type="date"  id="datePicker" ng-model="start" class="form-control"/>
  <label for="datePicker">Till</label>
  <input type="date"  id="datePicker" ng-model="end" class="form-control"/>
  <input type="button"  class="btn btn-success" ng-click="getStatistics()"/>
  <table class="table table-bordered table-hover">
    <tr class="danger">
      <td>Task name</td>
      <td>Task start</td>
      <td>Task end</td>
      <td>Total nubmer of tasks</td>
    </tr>
    <tr ng-repeat="task in statistics.tasks">
      <td>{{task.name}}</td>
      <td>{{task.start.dateTime}}</td>
      <td>{{task.end.dateTime}}</td>
      <td>{{task.quantity}}</td>
    </tr>
  </table>
  
</div>
<div id="chart"></div>
<script>
  //var td = d3.selectAll("table:tr:td");
 // td.style("background-color", "red");
</script>
				
